.dis-ib{
	display:inline-block;
}

.ma-0{
	margin:0;
}

.va-mid{
	vertical-align:middle;
}

.va-top{
	vertical-align:top;
}

.va-bottom{
	vertical-align:bottom;
}

#wpadminbar{
	padding:0;
}

.wrap-main{
	position:relative;
	display:inline-block;
	width:100%;
}

.wrap-main *,
.wrap-main *:before,
.wrap-main *:after {
	box-sizing: border-box;
}

.statistics-wrap{
	position:relative;
	float:left;
	width:100%;
	margin-bottom:20px;
}

.statistics-wrap-inner{
	position:relative;
	width:100%;
	display:inline-block;
	color:#fff;
	color:rgba(255,255,255,0.7);
	background-color:#14263a;
}

.statistics-top{
	display:table;
	width:100%;
	padding:20px 20px 20px 15px;
	background-color:#1b334d;
}

.statistics-top-cell{
	display:table-cell;
	width:33%;
	padding:5px;
	vertical-align: middle;
	font-size: 17px;
	text-transform: uppercase;
}

.statistics-top-cell a{
	white-space: nowrap;
	display:inline-block;
	text-decoration:none;
	border-radius: 46px;
	transition: 0.3s;
}

.statistics-top-cell img{
	display:inline;
	vertical-align:middle;
}

.statistics-top-cell.logo{
}

.statistics-top-cell.logo img{
	max-height:46px;
	max-width:100%;
}

.statistics-top-cell.manual-optimisation{
	text-align: center;
}

.statistics-top-cell.manual-optimisation a,
.addon-activation button{
	padding: 16px 15px 11px;
	color: #000000;
	background: #ffcc26;
}

.statistics-top-cell.manual-optimisation a:hover,
.addon-activation button:hover{
	background: #ffd859;
}

.statistics-top-cell.manual-optimisation a img{
	margin-right:10px;
	margin-top:-6px;
}

.statistics-top-cell.support{
	width:auto;
	text-align: right;
}

.statistics-top-cell.support a{
	color: #ffcc26;
	padding: 11px 20px 6px 15px;
}

.statistics-top-cell.support a:hover {
	background: #fff6d9;
  	color: #bf9200;
}

.statistics-top-cell.support a img{
	margin-right:15px;
}

.statistics-measurements{
	position:relative;
	display:inline-block;
	width:100%;
	float:left;
}

.statistics-tab-content{
	position:relative;
	display:inline-block;
	width:100%;
	/*padding:4px 5px 5px;*/
}

.statistics-tabs-nav{
	display:table;
	width:100%;
	margin:0;
	padding:0;
	background-color:#1b334d;
}

.statistics-tabs-nav li{
	display:table-cell;
	vertical-align: middle;
	text-align: center;
	width:33.3333%;
	font-size: 15px;
	text-transform: uppercase;
	color: #ffcc26;
	padding:25px 10px;
	transition: 0.3s;
	cursor:pointer;
}

.statistics-tabs-nav li.active,
.statistics-tabs-nav li:hover{
	background-color:#14263a;
}

.statistics-tab-content{
	position:relative;
	width:100%;
	float:left;
	display:none;
}

.statistics-tab-content.active{
	display:inline-block;
}

.stats-section{
	position:relative;
	display:table;
	width:100%;
	font-size:0.8rem;
	text-align: center;
	border-bottom:1px solid rgba(255,255,255,0.03);
}

.stats-part{
	display:table-cell;
	vertical-align: middle;
	padding:0 1rem;
	border-right:1px solid rgba(255,255,255,0.03);
}

.stats-section a,
.stats-part .addon-stats .compress-image-saved span,
.stats-part .total-image-compress span,
.stats-part ul.cache-and-database-list li span{
	color:#fff;
}

.stats-part .addon-stats .compress-image-saved span,
.stats-part .total-image-compress span,
.stats-part ul.cache-and-database-list li span{
	font-size:1.5em;
	font-weight:600;
}

.stats-part .addon-stats i.n_a{
	font-weight:100;
	font-size:0.9em;
	color:#fff;
	color:rgba(255,255,255,0.3);
}

.stats-part:first-child{
	width:33.4%;
}

.stats-part:last-child{
	border-right:0;
}

@media screen and (max-width:776px){
	.stats-section{
		display:inline-block;
		float:left;
	}

	.stats-part{
		display:inline-block;
		width:100% !important;
		float:left;
		padding:1rem 2rem;
		border-right:0;
		border-bottom:1px solid rgba(255,255,255,0.03);
	}

	.stats-part:last-child{
		border:0;
	}
}

.stats-part .addon-stats{
	position:relative;
	width:100%;
	display:inline-block;
}

.stats-part .addon-stats .compress-image-saved{
	position:relative;
	display:inline-block;
	width:7rem;
	margin:0 auto;	
	border:1px solid rgba(255,255,255,0.2);
	border-radius:9999px;
}

.stats-part .addon-stats .compress-image-saved > div {
	position:relative;
	height:0;
	padding-bottom:100%;
}

.stats-part .addon-stats .compress-image-saved > div > div{
	position:absolute;
	display:table;
	top:0;
	right:0;
	bottom:0;
	left:0;
	width:100%;
	height:100%;
}

.stats-part .addon-stats .compress-image-saved > div > div > div {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}

.stats-part .addon-stats .compress-image-saved span{
	display:inline-block;
	width:100%;
	padding-top:10px;
}

.stats-part .total-image-compress{
	display:inline-block;
	width:100%;
	text-align:center;
}

.stats-part .total-image-compress span{
	
}

.stats-part ul.cache-and-database-list{
	display:table;
	width:100%;
	padding:7px;
	margin:10px 0;
	border:1px solid rgba(255,255,255,0.05);
	border-radius:1px; 
}

.stats-part ul.cache-and-database-list li{
	display:table-cell;
	width:33%;
	padding:0 5px;
	vertical-align:middle;
	border-right:1px solid rgba(255,255,255,0.03);
}

.stats-part ul.cache-and-database-list li:last-child{
	border-right:0;
}

.stats-part ul.cache-and-database-list li span{
	display:inline-block;
	width:100%;
	padding-top:5px;
}

.statistics-tab-content .addon-activation{
	position:relative;
	width:100%;
	display:inline-block;
	text-align:center;
}

.statistics-tab-content .addon-activation{
	padding-top:3rem;
	padding-bottom:3rem;
}

.statistics-tab-content .addon-activation a{
	display:inline-block;
	margin-top:10px;
	font-size:1.3em;
	text-transform:uppercase;
	text-decoration:none;
	color:#fff;
}

.statistics-tab-content .addon-activation a:hover{
	text-decoration:underline;
}

.statistics-tab-content .addon-activation button{
	position:relative;
	min-width: 120px;
	padding: 13px 25px;
	text-transform:uppercase;
	border:0;
	border-radius: 46px;
	cursor:pointer;
	overflow:hidden;
}

.statistics-tab-content .addon-activation button.disabled:after{
	content: "";
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:block;
	background:#ffcc26 url(../images/addon-load.gif) no-repeat center;
}

.wrap-main .sidebar-section{
	position:relative;
	float:left;
	width:100%;
}

.cdn-comming-soon{
	position:relative;
	display:table;
	width:100%;
	margin-bottom:20px;
	margin-bottom:1.25rem;
	font-size:1.5em;
	line-height:1.2;
	color:rgba(0,0,0,0.3);
	background:rgba(0,0,0,0.1);
}

.cdn-comming-soon > div{
	display:table-cell;
	vertical-align:middle;
	font-weight:500;
	text-align:center;
	text-transform: uppercase;
	padding:75px 10px 80px;
}

.cdn-comming-soon strong{
	font-size:1.3em;
	font-weight:inherit;
	display:inline-block;
	width:100%;
}

.sidebar-cloudinary-api,
.sidebar-tabs-section{
	position:relative;
	display:inline-block;
	width:100%;
	margin-bottom:1.25rem;
	background:#fff;
	border:1px solid #e6e6e6;
}

.free-api-stats,
.sidebar-title-wrap,
.sidebar-content-wrap,
.sidebar-tabs-nav,
.sidebar-tabs-content{
	position:relative;
	display:inline-block;
	width:100%;
	float:left;
}

.free-api-stats{
	display:table;
	table-layout:fixed;
	text-transform:uppercase;
	font-size:12px;
	font-weight:500;
	border-bottom:1px solid #e6e6e6;
	background-color:#f5f5f5;
}

.free-api-stats div{
	display:table-cell;
	vertical-align:middle;
	padding:15px;
}

.free-api-stats div span{
	font-weight:500;
	font-size:1.4em;
}

.close-cloudinary-api-msg{
	position:absolute;
	display:inline-block;
	top:10px;
	right:10px;
	padding:2px 5px;
	line-height:1;
	font-size:10px;
	font-weight:100;
	text-transform: uppercase;
	border-radius:2px;
	background: rgba(255,255,255,0.1);
	cursor:pointer;
}

.sidebar-title-wrap,
.sidebar-tabs-nav ul{
	font-size: 13px;
	font-weight: 500;
	line-height:1;
	text-transform:uppercase;
	color:#1b334d;
	background-color:#f5f5f5;
}

.sidebar-tabs-nav ul{
	position:relative;
	display:table;
	width:100%;
	padding:0;
	margin:0;
}

.sidebar-tabs-nav ul li{
	display:table-cell;
	vertical-align:middle;
	padding:15px 10px;
	text-align:center;
	cursor:pointer;
	border-right:1px solid #e6e6e6;
	border-bottom:1px solid #e6e6e6;
}

.sidebar-tabs-nav ul li.active{
	border-bottom-color:#fff;
	background:#fff;
}

.sidebar-tabs-nav ul li:last-child{
	border-right:0;
}

.sidebar-tabs-content{
}

.sidebar-tabs-content ul{
	padding:0;
	margin:0;
}

.sidebar-tabs-content ul li{
	position:relative;
	width:100%;
	float:left;
	display:none;
	padding:5px 20px 15px;
}

.sidebar-tabs-content ul li.active{
	display:inline-block;
}

.sidebar-tabs-content ul li textarea{
	display:inline-block;
	width:100%;
	min-height:150px;
	margin:5px 0 10px;
}

.export-addons-list-options label{
	position:relative;
	display:inline-block;
	width:100%;
	font-weight: 500;
	margin-bottom:15px;
}

.clear-import-btn,
.copy-export-btn{
	float:right;
}

.offload-g-analytics-form{
	position:relative;
	display:inline-block;
	width:100%;
	float:left;
	padding-top:10px;
}

.offload-g-analytics-form .form-group{
	position:relative;
	width:100%;
	float:left;
	display:inline-block;
	margin-bottom:20px;
}

.offload-g-analytics-form label{
	display:inline-block;
	 width:100%; 
	padding-bottom:10px;
	font-weight:600;
}

@media screen and (min-width:1141px){
	.statistics-wrap{
		width:67%;
	}

	.statistics-wrap-inner{
		margin-right:15px;
	}

	.wrap-main .sidebar-section{
		width:33%;
	}

	.sidebar-section-inner{
		padding-left:15px;
	}
}

@media screen and (max-width:990px){
	.statistics-top-cell{
		font-size: 16px;
	}
}
@media screen and (max-width:776px){
	.statistics-top{
		display:inline-block;
		padding:25px 0;
	}

	.statistics-top-cell{
		position:relative;
		display:inline-block;
		float:left;
		padding:5px;
		padding:0 20px;
		vertical-align: initial;
		text-align: center;
	}

	.statistics-top-cell.manual-optimisation{
		width:60%;
		
	}

	.statistics-top-cell.support{
		width:40%;
		text-align:center;
	}

	.statistics-top-cell.logo{
		width:100%;
		padding-bottom:30px;
	}
}

@media screen and (max-width:580px){
	.statistics-top{
		padding:30px 0 0 0;
	}

	.statistics-top-cell.manual-optimisation,
	.statistics-top-cell.support,
	.statistics-top-cell.logo{
		width:100%;
		padding:0 20px 20px;
		text-align:center;
	}
	.statistics-top-cell.logo{
		padding-bottom:30px;
	}

	.statistics-top-cell a{
		white-space: normal;
	}
}


/* ========== Addons(Plugin) Settings ========== */

.addon-settings,
.addon-settings-tabs,
.addon-settings-tabs ul,
.addon-settings-section,
.addon-settings-actions-section {
	position:relative;
	display:inline-block;
	width:100%;
}

.addon-settings{
	padding:1.5rem;
}

.addon-settings-tabs{
	float:left;
}

.addon-settings-tabs ul{
	float:left;
	margin:0;
	padding:0;
}

.addon-settings-tabs ul li{
	position:relative;
	width:auto;
	float:left;
	min-width:15%;
	padding:15px 1rem;
	margin:0;
	font-size:13px;
	font-weight:500;
	text-align:center;
	text-transform:uppercase;
	cursor:pointer;
}

.addon-settings-tabs ul li:hover{
	color:#fff;
}

.addon-settings-tabs ul li.active,
.addon-settings-section{
	color:#1b334d;
	background-color:#fff;
}

.addon-settings-section{
	float:left;
}

.addon-settings-content{
	position:relative;
	float:left;
	width:100%;
	padding:1rem;
	display:none;
}

.addon-settings-content.active{
	display:inline-block;
}

.addon-settings-content .field{
	position:relative;
	display:table;
	table-layout:fixed;
	width:100%;
	padding:1rem;
	border-top:1px solid #e6e6e6;
	transition: 0.3s;
}

.addon-settings-content.auto-table-layout .field{
	table-layout: auto;
}

.addon-settings-content > .field:first-child{
	border-top-width:0;
}

.addon-settings-content > .field:first-child.brd-top{
	border-top-width:1px;
}

.addon-settings-content .field:nth-child(2n){
	background:#f8f8f8;
}

.addon-settings-content .field:hover{
	background:#f5f5f5;
}

.addon-settings-content .field .field-left,
.addon-settings-content .field .field-right{
	display:table-cell;
	vertical-align:middle;
}

.addon-settings-content .field .field-left{
	padding:0.5rem 0;
	font-size: 1.05em;
}

.addon-settings-content .field .field-right{
	text-align: right;	
}

.addon-settings-content .field.sub-field{
	padding:1rem 1rem 1rem 2rem;
}

.addon-settings-content .field.sub-sub-field{
	padding:1rem 1rem 1rem 4rem;
}

/* .addon-settings-content .field.sub-field:after{
	content:"";
	position:absolute;
	top:2rem;
	margin-top:2px;
	left:1rem;
	height:1px;
	width:0.5rem;
	background-color:#e6e6e6;
} */

/* .addon-settings-content .field.sub-sub-field:after{
	content:"";
	position:absolute;
	top:2rem;
	margin-top:2px;
	left:1rem;
	height:1px;
	width:2.5rem;
	background-color:#e6e6e6;
} */

.addon-settings-content .field input[type="text"]{
	width:100%;
}

.addon-settings-content .field select,
.addon-settings-content .field input[type="text"],
.addon-settings-content .field input[type="number"]{
	height:auto;
	padding:0.5rem 0.5rem;
}

.addon-settings-content .field input[type="number"]{
	/*width:100%;*/
	max-width: 100px;
}

.sidebar-title-wrap{
	padding:15px;
	border-bottom:1px solid #e6e6e6;
}

.sidebar-content-wrap{
	/*padding:15px 20px;*/
}

.sidebar-content-wrap .addon-settings-content{
	display:inline-block;
	padding:0;
}

.sidebar-content-wrap .addon-settings-content .field{
	
}

.optio-check-component{
	position:relative;
	display:inline-block;
	padding-top:4px;
}

.checkbox-text{
	display:inline-block;
	margin:0;
	padding:0.5rem 1rem 0;
	vertical-align:top;
}

.optio-check {
  display: none !important;
}

.optio-check::-moz-selection, .optio-check:after::-moz-selection, .optio-check:before::-moz-selection, .optio-check *::-moz-selection, .optio-check *:after::-moz-selection, .optio-check *:before::-moz-selection, .optio-check + .optio-check-btn::-moz-selection {
  background: none;
}

.optio-check::selection, .optio-check:after::selection, .optio-check:before::selection, .optio-check *::selection, .optio-check *:after::selection, .optio-check *:before::selection, .optio-check + .optio-check-btn::selection {
  background: none;
}

.optio-check + .optio-check-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.optio-check + .optio-check-btn:after,
.optio-check + .optio-check-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

.optio-check + .optio-check-btn:after {
  left: 0;
}

.optio-check + .optio-check-btn:before {
  display: none;
}

.optio-check:checked + .optio-check-btn:after {
  left: 50%;
}

.optio-check-light + .optio-check-btn {
  background: #ddd;
  border-radius: 2em;
  padding: 2px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.optio-check-light + .optio-check-btn:after {
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.optio-check-light:checked + .optio-check-btn {
  background: #ffcc26;
}

.addon-settings-actions-section{
	position:relative;
	float:left;
	padding:1rem;
	border-top:1px solid #e6e6e6;
	background-color:#f6f6f6;
}

.optimising-db-overlay,
.clearing-gravatars-cache-overlay{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	height:100%;
	display:none;
	background:rgba(255,255,255, 0.75);
	z-index:+1;
}

.optimising-db-overlay > div,
.clearing-gravatars-cache-overlay > div{
	position:absolute;
	display:table;
	top:100%;
	right:0;
	width:auto;
	padding:1.4rem 1rem 0 0;
	font-size:0.85rem;
	font-weight:500;
	overflow:visible;
}

.optimising-db-overlay > div > div,
.clearing-gravatars-cache-overlay > div > div{
	display:table-cell;
	vertical-align:middle;
}

.optimising-db-overlay > div img,
.clearing-gravatars-cache-overlay > div img{
	margin:0 0 2px 1rem;
	vertical-align:inherit;
}