.wp-disable {
  header {
    background: #c5ccce;
    color: #66666b;
    padding: 35px;
    border-radius: 10px 10px 0 0;

    .col-left {
      display: inline-block;
      width: 59%;

      h2 {
        color: #66666b;
        font-size: 22px;
        font-weight: 400;
        margin: 0;
        margin-bottom: 10px;
      }

      small {
        font-size: 14px;
        font-weight: 100;
        color: #66666b;
      }
    }

    .col-right {
        display: inline-block;
        text-align: right;
        width: 40%;
        a {
          background: #fff885 none repeat scroll 0 0;
          color: #928a07;
          font-size: 12px;
          text-decoration: none;
          padding: 5px 15px;
          border-radius: 20px;
        }
        > p {
          margin: 5px auto;
        }

        small {
          background: hsl(13, 92%, 56%) none repeat scroll 0 0;
          border-radius: 1px;
          font-size: 13px;
          padding: 2px 13px 3px;
        }
    }
  }

  .container {
    background: #fff;
    // border: 1px solid hsl(0, 0%, 85%);
    // box-shadow: 0 0 2px 1px hsla(0, 0%, 0%, 0.1);
    padding: 35px 20px;
    display: block;

    .tab-wrap {
      float: left;
      padding: 0 15px;
      width: 57%;

      ul.tabs {
        margin: 0px;
        padding: 0px;
        list-style: none;
        li {
          background: #c5ccce;
          border-radius: 5px 5px 0 0;
          color: #797979;
          cursor: pointer;
          display: inline-block;
          float: left;
          margin: 0 3px 0 0;
          padding: 15px 25px;
          font-size: 16px;

          &.current {
            background: #efefef;
            color: #797979;
          }
        }
      }


      .tab-content {
        display: none;
        background: #efefef;
        clear: both;
        padding: 15px;
        border-radius: 0 5px 5px 5px;

        &.current {
          display: inherit;
        }
      }

      .panel {
        margin: 20px auto;
        padding: 20px;
        background: #f7b66d;
        border-radius: 5px;

        h3 {
          color: hsl(0, 0%, 100%);
          font-size: 20px;
          text-align: center;
        }

        &.featured-panel.stye-1 {
          background: hsl(220, 60%, 34%) none repeat scroll 0 0;
        }

        .pane-head {
          display: block;
          width: 100%;
          a {
            display: block;

            &.just-link {
              text-decoration: none;
              background: #d4d4d4;
              padding: 10px 15px;
              font-size: 16px;
              color: #585858;
              border-radius: 0 0 5px 5px;

              &:hover {
                background: #c7c6c6;
              }
            }
          }
          img {
            display: block;
            width: 100%;
          }
        }

        &.featured-panel {
          background: hsl(13, 92%, 56%) none repeat scroll 0 0;
          margin-bottom: 13px;
          padding: 1px;
        }
      }
    }
    .btn-submit {
      background: #00CDBF;
      color: #05867d;
      height: auto;
      padding: 10px 30px;
      text-decoration: none;
      text-shadow: unset;
      box-shadow: none;
      border: none;
      margin-top: 20px;
      font-size: 18px;
      text-transform: uppercase;
      border-radius: 100px;

      &:hover {
        background: #12c7bb;
        color: #05867d;
      }
    }
    .disable-form {
      .form-group {
        display: block;
        padding: 15px 10px;
        border-bottom: 1px solid #ccc;
        min-height: 34px;
        line-height: 34px;

        &:last-child {
          border: none;
        }

        span {
          font-size: 16px;
          color: #797979;
        }
      }
    }
  }
}

.side-bar {
  padding: 0 15px;
  width: 39%;
  display: inline-block;

  h3 {
    background: #c5ccce;
    border-radius: 5px 5px 0 0;
    color: #797979;
    margin: 0;
    padding: 10px 25px;
    line-height: 25px;
    font-weight: 400;
  }

  .offload-form {
    background: #efefef;
    padding: 25px;
    color: #797984;
    border-radius: 0 0 5px 5px;
    margin-bottom: 20px;

    .form-group {
      margin-bottom: 25px;

      label {
        font-size: 14px;
        // text-transform: uppercase;
        clear: both;
        margin-bottom: 8px;
        display: block;
        color: #797984;
      }

      input[type=text] {
        min-width: 300px;
        height: 36px;
        border: 1px solid #dedede;
        background: #fff;
        padding: 0 10px;
        border-radius: 3px;
        color: #0a6f68;
        font-weight: 100;
        box-shadow: none;
      }

      input[type=number] {
        height: 30px;
        border-radius: 3px;
        border: 1px solid #dedede;
        width: 60px;
        box-shadow: none;
      }

      input[type=checkbox] {
        border: 1px solid #dedede;
        border-radius: 3px;
        box-shadow: none;

        &:checked:before {
          color: #797984;
        }
      }

      input[type=radio] {
        -webkit-border-radius: 50%;
        border-radius: 50%;
        margin-right: 5px;
        line-height: 10px;
        background: #fff;
        border: 1px solid #dedede;
        box-shadow: none;

        &:checked:before {
          width: 8px;
          height: 8px;
          margin: 3px;
          line-height: 16px;
          background-color: #797984;
        }
      }

      span {
        margin-right: 40px;
        font-size: 14px;
        color: #797984;
      }
    }
  }


  .pane-head {

    a {
      img {
        display: block;
        width: 100%;
        border-radius: 5px;
        margin-bottom: 20px;
      }
    }

    h2 {
        color: hsl(0, 0%, 100%);
        line-height: 22px;
        text-align: center;
      }

    h3 {
    background: #bfbfbf;
    color: #737373;
    margin: 0 auto;
    text-align: center;
    }
  }
}

.check_options {
  font-weight: bold;
}


.stars {
  float: right;
  height: 19px;
  background: hsla(0, 0%, 0%, 0) url("/wp-content/plugins/wp-disable/images/stars.jpg") repeat scroll 0 0;
  width: 100px;
}

@media (max-width: 768px) {
  .tab-wrap {
    width: 96%;
  }
  .col-left, .col-right, .side-bar {
    width: 100%;
  }
  .col-right a {
    display: block;
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  float: right;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F37E67;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #00CDBF;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}